body{
margin:0;
font-family:Arial;
background:#0b0b0f;
color:white;
}

.app{display:flex}

.sidebar{
width:200px;
background:#111;
height:100vh;
padding:20px;
}

.sidebar button{
display:block;
margin:10px 0;
width:100%;
padding:10px;
background:#222;
color:white;
border:none;
border-radius:10px;
}

main{
flex:1;
padding:20px;
}

.page{display:none}
.page.active{display:block}

.card{
background:#1a1a22;
padding:20px;
border-radius:15px;
}

.big h2{
font-size:40px;
}

.row{
display:flex;
justify-content:space-between;
background:#1a1a22;
padding:10px;
margin:5px 0;
border-radius:10px;
}

input{
width:60px;
text-align:center;
}

.totalBox{
margin-top:20px;
background:#222;
padding:20px;
border-radius:15px;
}

button{
cursor:pointer;
}
